Host bhs gra rbx fra tok sin syd lan mia db1 db2 db3 db4 web1 web2 web3 tls1 tls2 elk elk2
  HostName %h.updn.io
  User deploy

Host beta epsilon
  HostName %h.rootbox.fr
  User admin

Host alpha
  HostName %h.rootbox.fr
  User deploy

Host *
  # don't try to authenticate with Kerberos
  GSSAPIAuthentication no
  GSSAPIKeyExchange no
  # subsequent ssh connections respond faster because its reusing an existing connection
  ControlMaster auto
  ControlPath ~/.ssh/master-%r@%h:%p
  ControlPersist 5m
